*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: #232323;
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}
h1{
   color: #dedede;
}
h2{
   color: red;
}
